<h2>Cluster Info</h2>
<div class="row">
    <img class="accountImage col-md-3" src="http://i1.wp.com/www.techrepublic.com/bundles/techrepubliccore/images/icons/standard/icon-user-default.png" />
    <div class="col-md-9" style="margin-top: 20px;">
        <h2><a href="@Url.Action("CareerClusterDisplay", "Account")?Id=@Model.CCID">@Model.ClustClusterName</a></h2>
        <p>@Model.ClustClusterDescription</p>
    </div>
</div>
<div>
    <p>bio</p>
    <div>
        Users with jobs from that cluster
    </div>
</div>